@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* Tailwind CSS custom Style and Using this style whatever i want */
.box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}

.my-container {
    @apply px-4 py-16 mx-auto sm:max-w-xl md:max-w-7xl  lg:py-10;
}

@layer components {
    .btn-own {
        @apply inline-flex items-center h-12 px-6 mb-3 font-medium text-white transition duration-200 rounded shadow-md  md:mb-0 bg-blue-400 hover:bg-blue-700;
    }
}

.active {
    @apply font-medium tracking-wide text-blue-700 transition-colors duration-200 hover:text-blue-400;
}

.default {
    @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-blue-400;
}
#tsparticles {
    width: 100%;
    position: relative;
}

.tabs-button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 0px 55px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-out;
    border-radius: 10px;
}

.tabs-button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.15);
}

.tabs-button.active {
    background: linear-gradient(245.39deg, #fc65ed -35.14%, #0500ff 143.06%);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px 55px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease-out;
    border-radius: 10px;
}
